<div>
  <h1>Web socket</h1>
  {{#each productos}}
    <h5>titulo: {{this.titulo}}</h5>
    <h5>descripcion: {{this.descripcion}}</h5>
    <h5>precio: {{this.precio}}</h5>
    <h5>thumbnail:{{this.thumbnail}}</h5>
    <h5>code: {{this.code}}</h5>
    <h5>stock: {{this.stock}}</h5>
    <h5>status: {{this.status}}</h5>
    <h5>category: {{this.category}}</h5>
    <br />
  {{/each}}
</div>