<div>
  <h1>Web socket</h1>
  {{#each productos}}
    <h5>id: {{this.id}}</h5>
    <h5>titulo: {{this.title}}</h5>
    <h5>descripcion: {{this.description}}</h5>
    <h5>precio: {{this.price}}</h5>
    <h5>thumbnail:{{this.thumbnail}}</h5>
    <h5>code: {{this.code}}</h5>
    <h5>stock: {{this.stock}}</h5>
    <h5>category: {{this.category}}</h5>
    <br />
  {{/each}}
</div>